{% load static 	%}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Markers</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
  <body>
    <br/>
 <div id="map" style="position:relative;width:65%;height:400px;float:left;"></div>

    <div style='float:right; width: 180px;'>
 <div style='position: fixed'>
     <div class="container" ></div>

 </div>
</div>


<button  type="submit" id="markall" onclick="markall()" > Mark All </button>
      {% block content %}
      {% endblock %}

    <script>
      var loc=[];
      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });
  	  
            var geocoder = new google.maps.Geocoder();
    document.getElementById('markall').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      }

 function geocodeAddress(geocoder, resultsMap) {
        for(var i=0;i<loc.length;i++){
        geocoder.geocode({'address': loc[i]}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
            // alert("DONE");
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }}


      function onlyUnique(value, index, self) { 
        return self.indexOf(value) === index;
      }
        
      function markall(){
        {% for book in books%}
        loc.push("{{book.location}}");
        {% endfor %}
        loc=loc.filter( onlyUnique );
        //for(var i=0;i<loc.length;i++)alert(loc[i]);
      }



    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmwBs8dSuwg56fTWsbJyMdrvXYU3_Pim4&libraries=places&callback=initMap">
    </script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>  
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    {% block javascript %}
    {% endblock %}

  </body>
</html>