	{% load crispy_forms_tags %}
<head><style>
	.pac-container{
		z-index:10000;
	}
</style></head>
	<form method="post" data-url="{% url 'book_create' %}" class="create-form">
		{% csrf_token %}
			<div class="modal-header">
			<h5 class="modal-title" >Create Location</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			<!-- {{form | crispy}} -->
			<input id="searchTextField" type="text" size="50" name="location">
			<input type="text" name="timestamp">
			<input type="number" name="no_of_students">
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary">add location</button>
			</div>
	</form>

    <script>

      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

		var input = document.getElementById('searchTextField');
  		
  		new google.maps.places.Autocomplete(input);
		
		google.maps.event.addDomListener(window, 'load', initialize);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmwBs8dSuwg56fTWsbJyMdrvXYU3_Pim4&libraries=places&callback=initMap">
    </script>
