	{% load crispy_forms_tags %}
<head><style>
	.pac-container{
		z-index:10000;
	}
</style></head>
	<form method="post" data-url="{% url 'book_create' %}" class="create-form">
		{% csrf_token %}
			<div class="modal-header">
			<h5 class="modal-title" >Create Location</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			<!-- {{form | crispy}} -->
			<input id="searchTextField" type="text" size="50" name="location">
			<input type="text" id="city2" name="city2" readonly/>
			<input type="text" id="cityLat" name="cityLat" readonly />
			<input type="text" id="cityLng" name="cityLng" readonly/>
                  
			<input type="text" name="timestamp">
			<input type="number" name="no_of_students">
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="submit" onclick="addlocation()" class="btn btn-primary">add location</button>
			</div>
	</form>

    <script>

     
      function initMap() {
		 
  	 	  var input = document.getElementById('searchTextField');
    		new google.maps.places.Autocomplete(input);
    		var input = document.getElementById('searchTextField');
        var autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            document.getElementById('city2').value = place.name;

            document.getElementById('cityLat').value = place.geometry.location.lat();
            document.getElementById('cityLng').value = place.geometry.location.lng();
        });
		 var geocoder = new google.maps.Geocoder();
 		document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }

    
    </script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmwBs8dSuwg56fTWsbJyMdrvXYU3_Pim4&libraries=places&callback=initMap">
    </script>
    
    </script>
