{% extends 'base.html' %}
{% load static %}
{% block title %}Django Ajax Example{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
	#wrapper { position: relative; }
   	#over_map { position: absolute; top: 10px; right: 1%; z-index: 99;  }
</style>
<link href="D:\INTERIIT\BOSCH-routeOptimization-master\BOSCH-routeOptimization\How-To-Execute-CRUD-Using-Django-Ajax-and-JSONa\static\css\bootstrap.min.css" rel="stylesheet">

<style type="text/css">
    body {
        color: #404E67;
        background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
  }
  .table-wrapper {
    width: 300px;
    background: #f2f2f2; 
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
        padding-left: 10px;
        padding-bottom: 2px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }
    .table-title .add-new {
        float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
    }
  .table-title .add-new i {
    margin-right: 4px;
  }
    table.table {
        table-layout: fixed;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table th:last-child {
        width: 100px;
    }
    table.table td a {
    cursor: pointer;
        display: inline-block;
        margin: 0 2px;
    min-width: 24px;
    }    
  table.table td a.add {
        color: #27C46B;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td i {
        font-size: 19px;
    }
  table.table td a.add i {
        font-size: 24px;
      margin-right: -1px;
        position: relative;
        top: 3px;
    }    
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }
  table.table .form-control.error {
    border-color: #f50000;
  }
  table.table td .add {
    display: none;
  }
</style>
{% endblock %}

{% block content %}
	<div class="container-fluid" style="padding: 0px;">
		<div id="map" style="position:relative;width:100%;height: 800px;float:left;"></div>
			</div>
{% endblock %}

{% block javascript %}
<!-- </script> -->
  <script>
      var globa;
      var map;
      var responsestore;
      var request;
      var service;
      var geocoder;
      var storeLocationDetails=new Map();
      var storeOfficeDetails=new Map();
      var directionsDisplay;
      var directionsService;
     

      function initMap() {  

        var myLatLng = {lat: 20, lng: 78};
        directionsService = new google.maps.DirectionsService();
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng,
          disableDefaultUI: true
        });
        directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true});
        service = new google.maps.DistanceMatrixService;
        directionsDisplay.setMap(map);
        bounds = new google.maps.LatLngBounds();

         from1 = new google.maps.LatLng(0,0);
        to1 = new google.maps.LatLng(30,12);

        from2 = new google.maps.LatLng(-30,15);
        to2 = new google.maps.LatLng(10,-100);

        from3 = new google.maps.LatLng(0,-50);
        to3 = new google.maps.LatLng(0,50);
      
        addMarker(from1,to1,'green');
        addMarker(from2,to2,'red');
        addMarker(from3,to3,'blue');
        google.maps.event.addDomListener(window, 'load', initMap);
      }
      var markers = [];
      
      function addMarker(pos, dest,color) {
        var marker = new google.maps.Marker({
          map: map,
          position: pos,
          destination: dest
        });
      
        google.maps.event.addListener(marker, 'click', function(event) {
          fromLat = this.position.lat();
          fromLng = this.position.lng();
          toLat = this.destination.lat();
          toLng = this.destination.lng();

          // store a LatLng for each step of the animation
          frames = [];
          for (var percent = 0; percent < 1; percent += 0.01) {
            curLat = fromLat + percent * (toLat - fromLat);
            curLng = fromLng + percent * (toLng - fromLng);
            frames.push(new google.maps.LatLng(curLat, curLng));
          }

          move = function(marker, latlngs, index, wait, newDestination) {
            marker.setPosition(latlngs[index]);
            if(index != latlngs.length-1) {
              // call the next "frame" of the animation
              setTimeout(function() { 
                move(marker, latlngs, index+1, wait, newDestination); 
              }, wait);
            }
            else {
              // assign new route
              marker.position = marker.destination;
              marker.destination = newDestination;
            }
          }

          // begin animation, send back to origin after completion
          move(marker, frames, 0, 20, marker.position);
        });

        markers.push(marker);
      }


</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmwBs8dSuwg56fTWsbJyMdrvXYU3_Pim4&libraries=places&callback=initMap">
</script>

{% endblock %}
