{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>  
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/plotly-latest.min.js' %}"></script>
  <script src="{% static 'js/plotly-latest.min.js' %}"></script>
  <!-- <style>
  canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  </style> -->
</head>

<body>
  <!-- <canvas id="myCanvas" width="400" height="400"></canvas> -->
  <div id="myDiv" style="height: 620px;"></div>
  <!-- <canvas id="myCanvas" width="400" height="400"></canvas> -->
    <!-- sdjkfdddddd
    <p id="demo"></p>
      <button onclick="stopSimulation()">Stop Timer</button> -->
    <script type="text/javascript">
      
        var layout = {
          title: 'BUS ROUTES SIMULATION',
          xaxis: {
            title: 'x axis distance in km',
            showline: false,
           "gridcolor": "rgb(0,0,0)"
          },
          yaxis: {
            title: 'y axis distance in km',
            showline: false,
            "gridcolor": "rgb(0,0,0 )"
          },
            images: [
            {
              "source": "{% static 'image/bus.png' %}",
              "xref": "x",
              "yref": "y",
              "x": 40,
              "y": 25,
              "sizex": 5,
              "sizey": 10,
              "sizing": "stretch",
              "opacity": 1,
              "layer": "above"
            },
            
          ]
        };
        var myVar;
        var index=0;
        var starts=[0,0];
        var ends=[0,0];
        function getUpdate(){
          $.ajax({
                url: "/simulator/",
                data: {'csrfmiddlewaretoken':'{{csrf_token}}','updates':'ifUIisusedforupdatepassdatafromhere','index':index,'starts':JSON.stringify(starts),'ends':JSON.stringify(ends)},
                cache: false,
                type: "POST",
                success: function(response) {
                  console.log("SUCCESS");
                  console.log(response);
                  index=response['index'];
                  var data = [];
                  var busStopsX=[];
                  var intermidiateNodeX=[];
                  var officeX=[];
                  var busStopsY=[];
                  var intermidiateNodeY=[];
                  var officeY=[];
                  for(var i=0;i<response['allRoutes'].length;i++){
                    var xCord=[];
                    var yCord=[];
                    for(var j=0;j<response['allRoutes'][i].length;j++){
                      xCord.push(response['allRoutes'][i][j]['lat']);
                      yCord.push(response['allRoutes'][i][j]['lng']);
                    }
                    var route = {
                      x: xCord,
                      y: yCord,
                      mode: 'lines',
                      name: 'Route'+i.toString(),
                      text: stopName,
                      line: {
                        color: 'rgb(0, 0, 0)',
                        width: 2,
                        dash: 'dot'
                      },
                      type: 'scatter'
                    };
                    // data.push(route);
                  }
                  for(var i=0;i<response['routes'].length;i++){
                    console.log("getting route");                    
                    var routeColor='rgb(';
                    for(var j=0;j<3;j++){
                      x=Math.floor(Math.random() * Math.floor(255));
                      routeColor=routeColor+x.toString();
                      if(j!=2){
                        routeColor=routeColor+', '
                      }
                    }
                    routeColor=routeColor+')';
                    console.log(routeColor);
                    var xCord=[];
                    var yCord=[];
                    var stopName=[];
                    for(var j=0;j<response['routes'][i].length;j++){
                      xCord.push(response['routes'][i][j]['lat']);
                      yCord.push(response['routes'][i][j]['lng']);
                      stopName.push('Stop'+j.toString());
                      if(response['routes'][i][j]['type']==='intermediateStop'){
                        intermidiateNodeX.push(response['routes'][i][j]['lat']);
                        intermidiateNodeY.push(response['routes'][i][j]['lng']);
                      }
                      else{
                        busStopsX.push(response['routes'][i][j]['lat']);
                        busStopsY.push(response['routes'][i][j]['lng']);
                      }
                    }
                    console.log(xCord);
                    console.log(yCord);
                    var route = {
                      x: xCord,
                      y: yCord,
                      mode: 'lines',
                      name: 'Route'+i.toString(),
                      text: stopName,
                      line: {
                        color: routeColor,
                        width: 2
                      },
                      type: 'scatter'
                    };
                    data.push(route);
                  };
                  var office = {
                    x: [50],
                    y: [50],
                    mode: 'markers',
                    name: 'Office',
                    text: ['school'],
                    marker: {
                      color: 'rgb(205,165,0)',
                      size: 40,
                      line: {
                        color: 'rgb(0,0,0)',
                        width: 0.5,
                        dash: 'dot',
                      }
                    }
                  };
                  var busStops = {
                    x: busStopsX,
                    y: busStopsY,
                    mode: 'markers',
                    name: 'Bus Stop',
                    text: ['bus'],
                    marker: {
                      color: 'rgb(255,105,0)',
                      size: 20
                    }
                  };
                  var intermediateStop = {
                    x: intermidiateNodeX,
                    y: intermidiateNodeY,
                    mode: 'markers',
                    name: 'Intermidiate Stop',
                    text: ['inter'],
                    marker: {
                      color: 'rgb(155,65,0)',
                      size: 10
                    }
                  }
                  data.push(office);
                  data.push(busStops);
                  data.push(intermediateStop);
                  console.log(data);
                  Plotly.newPlot('myDiv', data, layout, {showSendToCloud: true});
                  // console.log(response['routes']) 
                 },
                error: function(xhr) {
                  console.log("FAILED");
                  console.log(xhr);
                }
              });
        }    
        function startSimulation(){
            var d = new Date();
            var t = d.toLocaleTimeString();
            $("#demo").html(t); // display data on the page
            var data =getUpdate();
        }
        function stopSimulation(){
            clearInterval(myVar); // stop the simualtion
        }
        $(document).ready(function(){
            startSimulation();
            // startSimulation();
            // myVar = setInterval("startSimulation()", 2500);
        });
    </script> 
  </body>
</html>