{% load static %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>  
    	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</head>
	<body>
		sdjkfdddddd
		<p id="demo"></p>
    	<button onclick="stopSimulation()">Stop Timer</button>
		<script type="text/javascript">
		    var myVar;
		    function getUpdate(){
		    	$.ajax({
	              url: "/simulator/",
	              data: {'csrfmiddlewaretoken':'{{csrf_token}}','updates':'ifUIisusedforupdatepassdatafromhere'},
	              cache: false,
	              type: "POST",
	              success: function(response) {
	                console.log("SUCCESS");
	                console.log(response);
	                  
	               },
	              error: function(xhr) {
	                console.log("FAILED");
	                console.log(xhr);
	              }
	            });
		    }    
		    function startSimulation(){
		        var d = new Date();
		        var t = d.toLocaleTimeString();
		        $("#demo").html(t); // display data on the page
		        var data =getUpdate();
		    }
		    function stopSimulation(){
		        clearInterval(myVar); // stop the simualtion
		    }
		    $(document).ready(function(){
		        // startSimulation();
		        myVar = setInterval("startSimulation()", 1000);
		    });
		</script>	
	</body>
</html>